html, body, h1, h2, h3, h4, h5, h6, p, pre, ol, ul, li, form, input textarea {
    margin: 0;
    padding: 0;
    list-style: none;
}

body {
    font: 16px/1.5 "Microsoft YaHei UI";
    color: #333;
}

a {
    text-decoration: none;
    color: #333;
}

/*默认样式*/
.nav {
    width: 100%;
    height: 79px;
    background: rgba(0, 0, 0, 0.15);
    /*z-index: 5;*/
    position: fixed;
    top: 0;
}

.navContent {
    width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.logo {
    width: 150px;
    height: 50px;
    float: left;
    margin-top: 14px;
}

/* a标签为行内元素，没有宽高属性 */
.logo a {
    display: block;
    width: 100%;
    height: 100%;
}

.logo a img {
    width: 100%;
    height: 100%;
}

.navList {
    width: 602px;
    height: 100%;
    float: right;
}

.navList li {
    width: 86px;
    height: 100%;
    float: left;
}

.navList li a {
    line-height: 79px;
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 14px;
    transition: color linear .5s;
}

.navList li a:hover {
    color: #16b0dc;
}

/*nav*/

.banner img {
    width: 100%;
    height: 395px;
    background: #cccccc;
    overflow: hidden;
    display:block;

}


/*banner*/


.bottom {
    padding: 60px 0;
    height: 819px;
    width: 100%;
}

.bottomContent {
    width: 1170px;
    height: 819px;
    margin: 0 auto;
}

.bottomContent .first {
    text-align: center;
    height: 43px;
    width: 1140px;
    line-height: 43px;
}

.bottomContent .first h1 {
    height: 50px;
    font-weight: 300;
}

.bottomContent .second {
    height: 21px;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}

.bottomContent p {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

.bottomContent div {
    margin: 0 auto;
    width: 530px;
    height: 340px;
}

/*bottom*/

.shang{
    border-top: 1px solid #f5f5f5;
    width: 100%;
    height: 20px;
}

.publish {
    width: 100%;
    height: 160px;
    background:#f5f5f5;
}

.publish .picture {
    width: 140px;
    margin: 0 auto;
    padding: 15px 0;
}

.publish .picture a img {
    width: 30px;
    height: 30px;
}

.picture a:hover {
    color: rgba(22, 176, 220, 0.6);
}

.publish p {
    font-size: 14px;
    text-align: center;
    color: #dfdfdf;
    transition: all ease .5s;
}

.publish p a {
    font-weight: 400;
    transition: all ease .5s;
    color: #16b0dc;
}

.publish p a:hover {
    color: rgba(22, 176, 220, 0.6);
    text-decoration: underline;
}

/*publish*/





